html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hey Dockers!!!
        h2 Welcome to NH Lab
        p strong Group Code: ALX1_SWD1_M2d
        p strong Here are the team members:
        ul
          li Youssef Elharty
          li Peter Fayez
          li Mohamed Ayman
          li Ahmed Abdelkader
        p
          a.btn.btn-primary(href="https://docs.docker.com/reference/" target="_blank") Docker documentation is a great source guys!
